/** Globales **/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: $fuente-principal;
    color: #000;
    font-weight: 700;
}

// Background
.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

