/** Globales **/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: $fuente-principal;
    color: #000;
    font-weight: 700;    
    background: rgb(52,185,179);
    background: linear-gradient(90deg, rgba(52,185,179,1) 0%, rgba(131,175,139,1) 40%, rgba(118,215,136,1) 70%, rgba(11,215,210,1) 100%);
}