/** Globales **/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

body {
    font-family: $fuente-principal;
}

