// Variables

// Fuentes
$fuente-principal: 'Montserrat', sans-serif;

// Generales
$borde-redondo: 8px;
$borde-blanco: 1px solid #fff;

// Media Queries
$moviles: 576px;
$tablet: 768px;
$desktop: 992px;
$desktop-xl: 1200px;
